# Entorno virtual 
venv/ 
# Datos locales y carpetas de trabajo 
Trials/ 
Test/ 
Flowers_Processing/ 
# Archivos de configuraci¢n sensibles 
.env 
scripts/.env 
# Archivos pesados o temporales 
scripts.zip 
color_spaces_all_channels_4_3.png 
# Python cache 
__pycache__/ 
*.pyc 
